{{> head }}

{{> navbar }}

<div class="row">
    <h1>SNS</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus maiores saepe accusamus perferendis omnis, harum, in cum ut, nesciunt et dicta quidem! Quis sequi ratione, recusandae error dolore harum dolorum.
    </p>
</div>

<div class="col-4">
    <img src="assets/img/sns.png" class="img-thumbnail">
</div>

{{> footer }}

